*
    box-sizing: border-box
body, html 
    height: 100%
    margin: 0
    font-family: Arial, Helvetica, sans-serif
.tablink
    background-color: #555
    color: white
    float: left
    border: none
    outline: none
    cursor: pointer
    padding: 14px 16px
    font-size: 17px
    width: 25%
.tablink:hover
    background-color: #777
.tabcontent
    color: black
    display: none
    padding: 100px 20px
    height: 100%
#GalleryOne
    background-color: white
#GalleryTwo
    background-color: white
#GalleryThree
    background-color: lightygrey
#GalleryFour
    background-color: white
.myCharmingPhotos
    display: none
img
    vertical-align: middle
    width: 100%
.charming-gallery-container
    max-width: 1000px
    position: relative
    margin: auto
.go-back, .go-next
    cursor: pointer 
    position: relative
    top: 50%
    width: auto
    padding: 16px
    margin-top: -22px
    color: white
    font-weight: bold
    font-size: 18px
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    user-select: none
.go-next
    right: 0
    border-radius: 3px 0 0 3px
.go-back:hover, .go-next:hover
    background-color: rgba(0, 0, 0, 0.8)
.charming-title
    color: #f2f2f2
    font-size: 15px
    padding: 8px 12px
    position: absolute
    bottom: 8px
    width: 100%
    text-align: center 
.order-text
    color: #f2f2f2
    font-size: 12px
    padding: 8px 12px
    position: absolute
    top: 0
.bottom-dot
    corsor: pointer
    height: 15px
    width: 15px
    margin: 0 2px
    background-color: #bbb
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6 ease
.active, .bottom-dot:hover
    background-color: #717171
.make-fade-in
    animation-name: make-fade-in
    animation-duration: 2s
@keyframes make-fade-in 
    from
        opacity: .4
    to
        opacity: 1
@media only screen and ( max-width: 300px)
    .go-back, .go-next, .order-text
        font-size: 11px
.container
    position: relative
    width: 100%
    height: auto 
    margin: 20px auto 
    padding: 10px
    box-sizing: border-box
.mySlides
    display: none
.cursor
    cursor: pointer
.prev, .next
    cursor: pointer
    position: absolute
    top: 40%
    width: auto 
    padding: 16px
    margin-top: -50px
    color: white 
    font-size: 20px
    font-weight: bold 
    border-radius: 0 3px 3px 0
    user-select: none
    -webkit-user-select: none
.next
    right: 0
    border-radius: 3px 0 0 3px
.prev:hover, .next:hover
    background-color: rgba(0, 0, 0, 0.8)
.numbertext
    color: #f2f2f2
    font-size: 12px
    padding: 9px 12px
    position: absolute
    top:0
.caption-container
    text-align: center
    background-color: #222 
    padding: 2px 16px 
    color: white 
.row:after
    content: ""
    display: table 
    clear: both
.column
    float: left
    width: 16.66%
.demo
    opacity: 0.6 
.active, .demo:hover
    opacity: 1
i
    margin: 0 -10px
    cursor: pointer
i:hover
    opacity: 0.7
i:active
    opacity: 1
.btn
    width: 60px
    height: 60px
    display: block
    background-color: #fff
    color: #a6c7fe
    margin-top: 170px
    border: none
    border-radius: 50%
.gallery
    position: relative
    width: 725px
    margin: auto
.img-container
    position: reletive
    display: inline-block
    width: 600px
    height: 400px
    margin: auto
    border-radius: 5px
    overflow: hidden
.img-display
    background-position: center
    background-size: cover
    position: relative
    display: inline-block
    width: 600px
    height: 400px
    margin: auto
 .pre-btn
    float: left
.next-btn
    float: right
.photo-title
    text-align: center
.change-image
    animation: change-over 1s forwards
@keyframes change-over
    50%
       transform: scale(0) 
    100%
        transform: scale(1)
@media only screen and (max-width: 760px)
    .gallery
        width: 630px
        height: auto
    .img-container
        width: 500px
        height: 333px
    .img-display
        width: 500px
        height: 333px
    .btn
        margin-top: 136px
:root
    --fade-time: 0.5s
.main-img img, .imgs img
    width: 100%
.imgs 
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 5px
.imgs img
    cursor: pointer
@keyframes fadeIn
    to
        opacity: 1
.fade-in
    opacity: 0
    animation: fadeIn var(--fade-time) ease-in 1 forwards
@media( max-width:600px)
    .imgs
        grid-template-columns: repeat(2, 1fr)
    

    
        





